
  
  
  
  
  
  img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}

  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .submitButton,
  .cancelButton {
    padding: 8px 16px;
    margin-right: 10px;
    background-color: rgba(0, 52, 82,1);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    height: 40px;
  }
  
  .addButton {
    padding: 6px 12px;
    background-color: rgba(0, 52, 82,1);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
  }

.card {
    background-color: rgb(249, 248, 248);
    padding: 50px;
    border: 1px solid   rgb(192, 191, 191);
    border-radius: 20px;
}
#lightSlider li{}

.demo {
    width: 100%
}

ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0
}

li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer
}

img {
    display: block;
    height: auto;
    width: 100%
}

.stars i {
    color: #f6d151
}

.stars span {
    font-size: 13px
}

hr {
    color: #d4d4d4
}

.badge {
    padding: 5px !important;
    padding-bottom: 6px !important
}

.badge i {
    font-size: 10px
}

.profile-image {
    width: 35px;
    margin:7px
}

.comment-ratings i {
    font-size: 13px
}

.username {
    font-size: 12px
}

.comment-profile {
    line-height: 17px
}

.date span {
    font-size: 12px
}

.p-ratings i {
    color: #f6d151;
    font-size: 12px
}

.btn-long {
    padding-left: 35px;
    padding-right: 35px
}

.buttons {
    margin-top: 15px;
    display: flex;
}

.buttons .btn {
    height: 46px
}

.buttons .cart {
    border-color: #0093E7;
    color: #0093E7;
    margin-right: 5px;
    border: 1px solid #0093E7;
}

.buttons .cart:hover {
    background-color: #0093E7!important;
    color: #fff
}

.buttons .buy {
    color: #fff;
    background-color: rgba(0, 52, 82,1);
    border-color: rgba(0, 52, 82,1)
}

.buttons .buy:focus,
.buy:active {
    color: #fff;
    background-color: rgba(0, 52, 82,1);
    border-color: rgba(0, 52, 82,1);
    box-shadow: none
}

.buttons .buy:hover {
    color: #fff;
    background-color: rgba(0, 52, 82,1);
    border-color: rgba(0, 52, 82,1)
}

.buttons .wishlist {
    background-color: #fff;
    border-color: #ff7676
}

.buttons .wishlist:hover {
    background-color: #e86464;
    border-color: #e86464;
    color: #fff
}

.buttons .wishlist:hover i {
    color: #fff
}

.buttons .wishlist i {
    color: #ff7676
}

.comment-ratings i {
    color: #f6d151
}

.followers {
    font-size: 9px;
    color: #d6d4d4
}

.store-image {
    width: 42px;
    margin-right: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px
}

.bullet-text {
    font-size: 12px
}

.my-color {
    margin-top: 10px;
    margin-bottom: 10px
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    border: 2px solid #8f37aa;
    display: inline-block;
    color: #8f37aa;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-transform: uppercase;
    transition: 0.5s all
}

label.radio .red {
    background-color: red;
    border-color: red
}

label.radio .blue {
    background-color: blue;
    border-color: blue
}

label.radio .green {
    background-color: green;
    border-color: green
}

label.radio .orange {
    background-color: orange;
    border-color: orange
}

label.radio input:checked+span {
    color: #fff;
    position: relative
}

label.radio input:checked+span::before {
    opacity: 1;
    content: '\2713';
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    left: 4px
}

.card-body {
    padding: 0.3rem 0.3rem 0.2rem
}
.similar-products{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 200px;
}
.similar-products .card{
    display: flex;
    justify-content: center;
    align-items: center;
}